@font-face {
  font-family: "Futura PT Medium";
  src: url("../../assets/fonts/FuturaPTMedium.ttf");
}
@font-face {
  font-family: "Futura PT Normal";
  src: url("../../assets/fonts/ofont.ru_Futura-Normal.ttf");
}